## Hi

### Extracting tables from the upcoming Euros

In [84]:
#Libraries
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle
from bs4 import BeautifulSoup
import requests

#Import the wikipedia page:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

#Understanding the correct tables:
all_tables[18]
all_tables[25]
all_tables[32]
all_tables[39]
all_tables[46]
all_tables[53]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Turkey,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Georgia,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Portugal,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Czech Republic,0,0,0,0,0,0,0,0,NaN

In [85]:
#Create dictionary + assign the group letters to the groups
dict_table = {}
for letter, i in zip(alphabet, range(18,60, 7)):
    df = all_tables[i]
    #Rename from "Teamvte" to Team
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    #Remove the qual column from the group
    df.pop("Qualification")
    dict_table[f'Group {letter}'] = df

In [86]:
dict_table['Group F']

   Pos            Team  Pld  W  D  L  GF  GA  GD  Pts
0    1          Turkey    0  0  0  0   0   0   0    0
1    2         Georgia    0  0  0  0   0   0   0    0
2    3        Portugal    0  0  0  0   0   0   0    0
3    4  Czech Republic    0  0  0  0   0   0   0    0

In [87]:
#Use pickle to export the dictionary
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)

### Extracting Football Matches

In [97]:
years = [1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2021]
web = 'https://en.wikipedia.org/wiki/UEFA_Euro_2016'
response = requests.get(web)
content = response.text
soup = BeautifulSoup(content, 'lxml')

matches = soup.find_all('div', class_= 'footballbox')

for match in matches:
    print(match.find('th', class_='fhome').get_text())
    print(match.find('th', class_='fscore').get_text())
    print(match.find('th', class_='faway').get_text())

France
2–1
 Romania
Albania
0–1
  Switzerland
Romania
1–1
  Switzerland
France
2–0
 Albania
Romania
0–1
 Albania
Switzerland
0–0
 France
Wales
2–1
 Slovakia
England
1–1
 Russia
Russia
1–2
 Slovakia
England
2–1
 Wales
Russia
0–3
 Wales
Slovakia
0–0
 England
Poland
1–0
 Northern Ireland
Germany
2–0
 Ukraine
Ukraine
0–2
 Northern Ireland
Germany
0–0
 Poland
Ukraine
0–1
 Poland
Northern Ireland
0–1
 Germany
Turkey
0–1
 Croatia
Spain
1–0
 Czech Republic
Czech Republic
2–2
 Croatia
Spain
3–0
 Turkey
Czech Republic
0–2
 Turkey
Croatia
2–1
 Spain
Republic of Ireland
1–1
 Sweden
Belgium
0–2
 Italy
Italy
1–0
 Sweden
Belgium
3–0
 Republic of Ireland
Italy
0–1
 Republic of Ireland
Sweden
0–1
 Belgium
Austria
0–2
 Hungary
Portugal
1–1
 Iceland
Iceland
1–1
 Hungary
Portugal
0–0
 Austria
Iceland
2–1
 Austria
Hungary
3–3
 Portugal
Switzerland
1–1 (a.e.t.)
 Poland
Wales
1–0
 Northern Ireland
Croatia
0–1 (a.e.t.)
 Portugal
France
2–1
 Republic of Ireland
Germany
3–0
 Slovakia
Hungary
0–4
 Belgium
Italy
2–0
 Spain
England
1–2
 Iceland
Poland
1–1 (a.e.t.)
 Portugal
Wales
3–1
 Belgium
Germany
1–1 (a.e.t.)
 Italy
France
5–2
 Iceland
Portugal
2–0
 Wales
Germany
0–2
 France
Portugal
1–0 (a.e.t.)
 France